@use 'src/styles/vars';

.navigation{
  background-color: rgba(vars.$footer-color, 0.95);
  font-family: 'Raleway';
  font-size: 135%;
  color: white;
  padding: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: none;
  &-closed{
    display: none;
  }
  @media screen and (min-width: 768px){
    text-align: left;
    &:hover{
      background-color: vars.$footer-color;
    }
  }
  &__link {
    margin: 0.5em;
    &:hover{
      text-decoration: underline;   
      }
    &--active {
      text-decoration: underline;
    }
  }
}