@use 'src/styles/vars';
@use 'sass:math';

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: linear-gradient(90deg, vars.$first-color, vars.$fourth-color );
  border-radius: 8px 8px 0 8px;
  height: 56px;
  align-items: center;
  color: white;
  &__logo{

  }

  &__button{
    border: none;
    border-radius: 8px;
    color:white;
    font-weight: bold;
    background-color: vars.$first-color;
    padding: 1em 2em;
  }

  &__burger{
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: vars.$fourth-color;
    border-radius: 1rem;
    color: white;
    font-size: 1.3rem;
  }
}