@use 'src/styles/vars';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  background: linear-gradient(90deg, vars.$first-color, vars.$second-color );
  border-radius: 8px 8px 8px 0;
  align-items: center;
  color: white;
  
  &__logo{
    align-self: center;
    height: 50px;
    width: 75px;
    transition: all 1.5s ease-in-out;
    &:hover{
      transform: rotate(-360deg);
    }
  }

  &__button{
    border: none;
    border-radius: 8px;
    color:white;
    padding: 1em 2em;
    font-family: 'Raleway';
    @media screen and (min-width: 768px){
      font-size: 125%;
    }
    &:hover{
      background-color: #6d79fd;
    }

    &--menu{
      background-color: vars.$second-color;
    }

    &--connect{
      background-color: vars.$first-color;
    }
  }
}